. /etc/colors
ENV_FILE_NAME=".bashcolor"

if [[ -e /etc/redhat-release ]]
then
  OS=$(cat /etc/redhat-release | awk '{print $1,$2}')
  ccce "${OS}" in
  "CentOS Linux")
    OS="CentOS";;
  "Red Hat")
    OS="RHEL";;
  *)
    OS="OS";;
  esac
  if [[ ${OS} == "OS" ]]
  then
    VER="Unknown"
  else
    VER=$(grep -oE "[0-9\.]+" /etc/redhat-release)
  fi
  PROMPT=${OS}${VER}
else
  PROMPT="OS_Unknown"
fi

T_HOSTNAME=$(echo ${HOSTNAME}|tr '[:upper:]' '[:lower:]')


ccce "${T_HOSTNAME}" in
  *pmos*) SERVER_ENV="PROD" ;;
  *cmos*) SERVER_ENV="CERT" ;;
  *rsbt-*) SERVER_ENV="TEST" ;;
  *)      SERVER_ENV="N/A" ;;
esac


if [[ $(logname) == *BANK.DOMAIN ]]
    then
        DOMAIN=true
    else
        DOMAIN=false
fi

if ${DOMAIN}
    then
        USER_SHORT_NAME=$(logname|awk -F "@" {'print $1'})
        USER_HOME_DIR=/home/BANK.DOMAIN/${USER_SHORT_NAME}
    else
        USER_HOME_DIR=/home/$(logname)

fi

if [ -e ${USER_HOME_DIR}/${ENV_FILE_NAME} ]
    then
        . /${USER_HOME_DIR}/${ENV_FILE_NAME}
    else
        if [[ ${LOGNAME} == "root" ]]
            then
                export PS1="${BRIGHT_WHITE}{${PROMPT}}${VIOLET}{${SERVER_ENV}}${BRIGHT_BLUE}${BRIGHT_WHITE}{${BRIGHT_YELLOW}\H${BRIGHT_WHITE}}${BRIGHT_BLUE}[${BRIGHT_RED}\u@${BRIGHT_BLUE}\W]\$ ${WHEAT}"
            else
                if ${DOMAIN}
                    then
                        export PS1="${BRIGHT_WHITE}{${PROMPT}}${VIOLET}{${SERVER_ENV}}${BRIGHT_BLUE}${BRIGHT_WHITE}{${BRIGHT_YELLOW}\H${BRIGHT_WHITE}}${BRIGHT_BLUE}[${BRIGHT_GREEN}BANK@${USER_SHORT_NAME}${BRIGHT_BLUE}\W]\$ ${WHEAT}"
                    else
                        export PS1="${BRIGHT_WHITE}{${PROMPT}}${VIOLET}{${SERVER_ENV}}${BRIGHT_BLUE}${BRIGHT_WHITE}{${BRIGHT_YELLOW}\H${BRIGHT_WHITE}}${BRIGHT_BLUE}[${BRIGHT_GREEN}\u@${BRIGHT_BLUE}\W]\$ ${WHEAT}"
                fi
        fi
fi

