groups:
- name: machine_metrics
  rules:
  - alert: "DiskSpace10%Free"
    expr: node_filesystem_free_bytes{mountpoint ="/"} / node_filesystem_size_bytes{mountpoint ="/"} * 100 < 10
    labels:
      severity: warning
    annotations:
      summary: "Instance {{ $labels.instance }} is low on disk space"
      description: "{{ $labels.instance }} has only {{ humanize $value }}% free."

  - alert: "OutOfMemory"
    expr: node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 < 10
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "Out of memory (instance {{ $labels.instance }})"
      description: "Node memory is filling up (< 10% left)\n  VALUE = {{ humanize $value }}"

  - alert: "HighCpuLoad"
    expr: 100 - (avg by(instance) (irate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 90
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "High CPU load (instance {{ $labels.instance }})"
      description: "CPU load is > 90%\n  VALUE = {{ humanize $value }}"

  - alert: "HighDiskIOUtilization"
    expr: rate(node_disk_io_time_seconds_total{device="sda"}[5m]) * 100 > 90
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "High disk IO utilization (instance {{ $labels.instance }})"
      description: "Disk IO utilization is > 90%\n  VALUE = {{ humanize $value }}"

  - alert: "ExporterDown"
    expr: up == 0
    for: 10m
    labels:
      severity: warning
    annotations:
      summary: "Exporter down (instance {{ $labels.instance }})"
      description: "Prometheus exporter down"
